body {
	font-family: arial, sans-serif;
}

.link a {
	text-decoration: none;
	color: #0000b3;
}

a {
	text-decoration: none;
	color: #404040;
}

input[type="image"] {
	height: 25px;
	padding-top: 10px;
	padding-right: 10px;
	outline: none;
}

form {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 600px;
	border:1px solid #e6e6e6;
	box-shadow: 0 1px 5px #a6a6a6;
}

button {
	margin-top: 30px;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 13px;
	font-weight: bold;
	color: #8c8c8c;
	background-color: #f2f2f2;
	border: none;
	padding: 12px 12px;
}

li {
	float: right;
	margin: 22px 18px 0 0;
	font-size: 13px;
}


.icon {
	height: 26px;
	position: relative;
	bottom: 6px;
}

.search-buttons {
	text-align: center;
}

.security {
	margin: 20px auto;
	width: 50%;
	text-align: center;
	font-size: 13px;
}

.maori {
	font-size: 13px;
	text-align: center;
	margin-top: 40px;
}

.nav {
	overflow: hidden;
	margin-right: 8px;
	margin-top: 2px;
}

.bottom-header {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #f2f2f2;
}

.region {
	padding: 13px 29px;
	color: #737373;
	font-size: 15px;
	border: 1px solid #e6e6e6;
}

.options {
	padding: 14px 0;
	margin-left: 30px;
	font-size: 13px;
}

.options a {
	color: #737373;
}

.options-left {
	padding-right: 23px;
}

.options-right {
	float: right;
	padding-right: 28px;
}

#security-logo {
	display: inline;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	vertical-align: middle;
}

#security-text {
	display: inline;
}

.search-box {
	font-size: 14px;
	padding: 14px;
	flex-grow: 2;
	border: none;
	outline: none;
	/* background: url(http://i.imgur.com/l5S4LZ2.png) no-repeat;
	background-size: 25px;
	background-position: right; */
}

#logo {
	width: 272px;
	height: 92px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	clear: both;
}
